*{
    margin: 0;
    padding: 0;
}

body,html{
    height: 100%;
    background-color: black;
}
.outer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner{
    color: white;
    font-size: 50px;
}
#clock{
    color: red;
    height: 200px;
    font-size: 200px;
    text-align: center;
}